<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quiz.mapper.QuizMapper">
	
	<select id="insertQuestion" parameterType="map" resultType="java.lang.Integer">
		INSERT INTO M_QUESTION (
			QUESTION, 
			CATEGORY,
			SUB_CATEGORY,
			ANSWER_EXPLAINATION, 
			CREATE_DATE) 
		VALUES
			(#{QUESTION}, 
			#{CATEGORY},
			#{SUB_CATEGORY},
			#{ANSWER_EXPLAINATION},
			#{CREATE_DATE})
		RETURNING QUESTION_ID
	</select>
	
	<select id="insertChoices" parameterType="list" resultType="map">
	    INSERT
	    INTO M_CHOICES(QUESTION_ID,CHOICE,CORRECT_ANSWER,CREATE_DATE)
	    VALUES
	    <foreach collection="LIST_CHOICES" item="item" index="index" open="" separator=","  close="">
	    	(#{QUESTION_ID},#{item.CHOICE},#{item.CORRECT_ANSWER},#{CREATE_DATE})
	    </foreach>
	</select>
	
</mapper>